<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Content.Meta.Title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="error-centered-body">
<div class="error-centered-container">
    <h2 class="content-header"><span>ERROR::</span>CV_SESSION_EXPIRED</h2>
    <div class="styled-block">
        <span class="key">status</span>: <span class="string">"FAILED"</span>,
        <br>
        <span class="key">message</span>: <span class="string">"{{.ErrorMessage}}"</span>
    </div>
    <div class="error-actions">
        <a href="/?lang={{.Lang}}" class="modal-btn">
            {{index .Content.Translations "btn_back"}}
        </a>
    </div>
</div>
</body>
</html>