<!DOCTYPE html>
<html lang="{{.Lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Content.Meta.Title}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="error-centered-body">
<div class="error-centered-container">
    <h2 class="content-header"><span>{{index .Content.Translations "error_cv_header_error"}}::</span>{{index .Content.Translations "error_cv_header_msg"}}</h2>
    <div class="styled-block">
        <span class="key">{{index .Content.Translations "error_cv_status_key"}}</span>: <span class="string">"{{index .Content.Translations "error_cv_status_value"}}"</span>,
        <br>
        <span class="key">{{index .Content.Translations "error_cv_message_key"}}</span>: <span class="string">"{{.ErrorMessage}}"</span>
    </div>
    <div class="error-actions">
        <a href="/?lang={{.Lang}}" class="modal-btn">
            {{index .Content.Translations "btn_back"}}
        </a>
    </div>
</div>
</body>
</html>